/* === Глобальные настройки ======================================================= */
html {
    font-family: monospace;
}

.body {
    margin-top: 0px;
    background-color: rgba(27, 27, 27, 0.979);
}

.footer {
    width: auto;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.596);
}

/* === Меню ======================================================================== */
.header {
    display: inline-flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.596);
}

.text-logo {
    font-size: 25px;
    font-weight: 400;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.header__menu-item {
    vertical-align: middle;
    text-align: center;
    margin-left: 50px;
    padding-bottom: 0%;
    font-size: 15px;
    font-weight: 100;
    color: white;
    padding: 16px;
}

/* === Промо-изображение ============================================================ */
.promo-section__picture {
    display: block;
    width: 2000px;
    height: 1000px;
    background-size: 2000px auto;
    background-repeat: no-repeat;
    background-image: url('./images/promo-picture.jpg');
}

.promo-section__text {
    text-align: center;
    font-size: 100px;
    font-weight: 600;
    color: white;
}

/* === Промо-категории =============================================================== */
.promo-category {
    margin: 50px 50px 50px 50px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 11fr 1fr;
    gap: 20px 10px;
}

.promo-category__picture-1,
.promo-category__picture-2,
.promo-category__picture-3 {
    width: 100%;
    height: 500px;
    background-size: 500px auto;
    background-repeat: no-repeat;
    /* text-align: center; */
}

.promo-category__picture-1 {
    background-image: url('./images/promo-bracelets__picture_1.jpg');
}

.promo-category__picture-2 {
    background-image: url('./images/promo-bracelets__picture_2.jpg');
}

.promo-category__picture-3 {
    background-image: url('./images/promo-bracelets__picture_3.jpg');
}

.promo-category__category-name {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: white;
}

/* === Футер ============================================================ */
.copyright {
    position: relative;
    top: 90%;
    left: 5%;
    font-size: 15px;
    font-weight: 400;
    color: white;
    font-family: 'Arial';
}